body{
	color:#9381ff;
	font-family:Helvetica;	
	background:#b8b8ff;
	text-align:center;
}

h1{
	padding-top: 55px;
	color:white;
	font-size: 5.5em;
}

h2{
	font-size: 3.0em;
	padding:20px;
	
}

h3{
	font-size: 1.5em;
	padding:5px;
	color:white;
}

h4{
	font-size: 1.5em;
	font-weight: bold;
	color:black;
}

p{
	font-size: 1.0em;
	padding:5px;
	color: black;
}

img {
	border-radius: 50%;
	border-style:groove;
	border-color:black;
}

ul{
	display: inline-block;
	text-align:left;
	padding:10px;
	color:black;
}

.show{
	background-color: white;
	color:#9381ff;
	border-radius: 20px;
	border-style:groove;
	border-color:black;
	padding:25px;
}

.edu{
	background-color: #9381ff ;
	color: white;
	border-radius: 20px;
	padding:25px;
	
}
.row{
	margin-top:50px;
	justify-content:space-between;
	
}

.contact{
	padding-right: 300px;
 
}
